.sidebarOption{

    display:flex;
    align-items: center;
    cursor: pointer;
}
.sidebarOption:hover{
    background-color:azure ;
    border-radius: 20px;
    color: var(--main-colour);
}
.sidebarOption-active{
    color: var(--main-colour);
}
.sidebarOption>.MuiSvgIcon-root{
    padding: 10px;
}
.sidebarOption>h2
{
    font-weight: 600;
    font-size: 15px;
    margin-right: 20px;
}